<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">
    <title>Приложение</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="aaa/css/main.css">
</head>

<body>
<div class="container">
    <div class="card">

        <div class="card-content">
            <!-- верхнее поле с информацией -->
            <div class="card-top"> <!-- поле с изображением -->
                <div class="card__img-wrap">
                    <img src="aaa/images/scramble.jpg" class="card__img" alt=" изображение карточки">
                </div><!-- card__img-wrap -->

                <div class="card-info"> <!-- поле: подчеркивание, слово, замочек -->
                    <div class="card-item">
                        <div class="card-translate">
                            <div class="letter__wrap">
                                <div class="letter">s</div>
                            </div>
                            <div class="letter__wrap">
                                <div class="letter">c</div>
                            </div>
                            <div class="letter__wrap">
                                <div class="letter">r</div>
                            </div>
                            <div class="letter__wrap">
                                <div class="letter">a</div>
                            </div>
                            <div class="letter__wrap">
                                <div class="letter">m</div>
                            </div>
                            <div class="letter__wrap">
                                <div class="letter">b</div>
                            </div>
                            <div class="letter__wrap">
                                <div class="letter">l</div>
                            </div>
                            <div class="letter__wrap">
                                <div class="letter">e</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-word">
                            карабкаться
                        </div>
                    </div>
                    <!-- замочек, аудио, транскрипция -->
                    <div class="card-item">
                        <div class="block-none">
                            <div class="card-item-wrap">
                                <div class="audio-wrap">
                                    <div class="audio-play"></div>
                                </div>
                                <audio>
                                    <source src="aaa/images/audio.mp3" type="audio/mpeg">
                                </audio>
                                <div class="transcription">
                                    [scræm.bl]
                                </div>
                            </div>
                        </div>



                        <img class="card-lock" src="aaa/images/lock.svg" alt="изображение замка">
                    </div>
                </div>


            </div>

            <!-- Нижние кнопки -->
            <div class="card-bottom">
                <div class="card__letter-wrap">
                    <button class="card__letter">s</button>
                </div>
                <div class="card__letter-wrap">
                    <button class="card__letter">c</button>
                </div>
                <div class="card__letter-wrap">
                    <button class="card__letter">r</button>
                </div>
                <div class="card__letter-wrap">
                    <button class="card__letter">a</button>
                </div>
                <div class="card__letter-wrap">
                    <button class="card__letter">m</button>
                </div>
                <div class="card__letter-wrap">
                    <button class="card__letter">b</button>
                </div>
                <div class="card__letter-wrap">
                    <button class="card__letter">l</button>
                </div>
                <div class="card__letter-wrap">
                    <button class="card__letter">e</button>
                </div>

                <div class="next">
                    <button class="next-button">
                        <img src="aaa/images/right-arrow.png" alt="" class="next-arrow">
                    </button>
                </div>

            </div><!-- card__element-bottom -->

            <!-- кнопка вперед -->



        </div>
    </div>
</div>



</body>
</html>